{% extends 'base.html.twig' %}
{% block body %}
  <div class="main-content bgc-grey-100">
    <div id="mainContent">
      <div class="container-fluid">
        <h4 class="c-grey-900 mT-10 mB-30">Articulo</h4>
        <div class="row">
          <div class="col-sm-8 align-justify-center">
            <div class="bgc-white p-20 bd">
              <h6 class="c-grey-900">{{ titleForm }}</h6>
              <div class="mT-30">
                {{ include('article/form_article.html.twig') }} 
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
{% endblock %}