{{ form_start(form) }}
  <div class="form-group">
    {{ form_label(form.title)}}
    {{ form_widget(form.title, { 'attr': { 'class': 'form-control' }}) }}
  </div> 
  <div class="form-group">
    {{ form_label(form.content)}}
    {{ form_widget(form.content, { 'attr': { 'class': 'form-control', 'rows': '4' }}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.fecha)}}
    {{ form_widget(form.fecha, { 'attr': { 'class': 'form-control' }}) }}
  </div>
  <div class="form-group">
      {{ form_label(form.author)}}
      {{ form_widget(form.author, { 'attr': { 'class': 'form-control' }}) }}
  </div>
  <button type="submit" class="btn btn-primary">{{ textSubmit }}</button>
  <a href="{{path("home")}}" class="btn btn-danger">Cancel</a>
{{ form_end(form) }}