{% extends 'base.html.twig' %}
{% block body %}
  <div class="main-content bgc-grey-100">
    <div id="mainContent">
      <div class="container-fluid">
        <h4 class="c-grey-900 mT-10 mB-30">Listado</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
              <div>
                <h4 class="c-grey-900 mB-20 d-inline-block">Articles</h4>
                <a href="/articles/new" class="btn btn-success">Add&nbsp;+</a>
              </div>
              <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
                width="100%">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>fecha</th>
                    <th>autor</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>fecha</th>
                    <th>autor</th>
                    <th>Options</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for a in articles %}  
                    <tr>
                      <td>{{ a.id }}</td>
                      <td>{{ a.title }}</td>
                      <td>{{ a.content }}</td>
                      <td>{{ a.fecha | date('d/m/y') }}</td>
                      <td>{{ a.author.name }}</td>
                      <td>
                        <a class="btn btn-warning" href="/articles/edit/{{a.id}}">Edit</a>
                        <a class="btn btn-danger" href="/articles/delete/{{a.id}}">Del</a>
                      </td>
                    </tr> 
                  {% endfor %}  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}